body {
    font-size:14px;
    padding: 50px 0;
}
.container {
    width: 740px;
    left:-100px;
}
header {
    padding: 15px 20px;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
}
header h1 {
    font-size: 24px;
    line-height: 30px;
}
header p {
    width: auto;
    font-size: 14px;
    line-height:20px;
    width:350px;
}
header .logo {
    top: 18px;
    border: 4px solid rgba(255, 255, 255, 0.8);
    right: 21px;
}
article {
    margin-bottom: 35px;
    padding-bottom: 20px;
}
article .info {
    font-size:14px;
}
.sidebar {
    display:block;
    position: absolute;
    z-index: 1;
    right: -200px;
    width:190px;
    top: 39px;
    padding:6px;
    background: #5198DF;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #77b9fb), color-stop(100%, #3782cd));
    background: -webkit-linear-gradient(#77b9fb, #3782cd);
    background: -moz-linear-gradient(#77b9fb, #3782cd);
    background: -o-linear-gradient(#77b9fb, #3782cd);
    background: -ms-linear-gradient(#77b9fb, #3782cd);
    background: linear-gradient(#77b9fb, #3782cd);
    border-radius: 5px;
    -webkit-box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 -1px 0;
    -moz-box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 -1px 0;
    box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 -1px 0;
}
.sidebar:before {
    content:'';
    position: absolute;
    z-index: -1;
    left: -5px;
    top: -4px;
    right: -5px;
    bottom: -6px;
    background: rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0;
}
.sidebar ul {
    list-style: none;
    padding-left:0px;
    margin-bottom:8px;
}
.sidebar .menu {
    border-bottom: 1px solid #3A7CBE;
}
.sidebar h3 {
    font-size:18px;
    line-height:24px;
    margin-top:6px;
}
.sidebar .about h3 {
    margin-top:0;
}
.sidebar .menu + .menu {
    border-top: 1px solid #8BBEF3;
}
.sidebar ul li {
    display:block;
}
.sidebar .site-info ul li, .sidebar .site-info ul a, .sidebar .concat ul li, .sidebar .concat ul a {
    display:inline-block;
    margin-right:5px;
    *display:inline;
    *zoom:1;
}
.sidebar .new-posts ul li, .sidebar .links ul li {
    width: 200px;
    height:23px;
    overflow: hidden;
    margin-bottom:10px;
}
.sidebar ul a {
    font-size: 14px;
    line-height:20px;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}
.sidebar .about {
    padding-bottom:10px;
}
.sidebar .about p {
    font-size: 14px;
    line-height:20px;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}
h1.title {
    font-size:20px;
    line-height:26px;
}
.content h2 {
    font-size:18px;
    line-height:24px;
}
.content p {
    font-size:14px;
    line-height:20px;
}
section {
    padding: 15px 20px;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -ms-border-radius: 0 0 8px 8px;
    -o-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
}
code, pre {
    font-size: 14px;
}
pre {
    margin: 0 -20px 20px;
}
footer {
    width: 640px;
    padding: 20px 0 0;
}
.pagination {
    height: 40px;
    margin: 20px 0;
}
.content-reply input {
    width:160px;
}
.content-reply span {
    width:60px;
}
.content-reply textarea {
    margin-left:60px;
    width:230px;
}
.content-reply input.button {
    margin:0 0 12px 60px;
}
.markdown ul {
    padding-left:50px;
}
.markdown ol {
    padding-left:50px;
}
