---
layout: default
---

<h1>{{ page.title }}</h1>

<div class="post">
{{ content }}

文章地址： <a href="{{site.url}}{{ page.url }}">{{page.title}}</a>

<h3>如果对于这个文章有什么看法，欢迎到<a href="http://www.laiwang.com/">来往</a>与我交流↓↓↓↓↓</h3>
<img width="180" height="180" src="/images/laiwang.png" />
</div>

<div class="meta">
    <div class="tags">
       标签：
       {% for tag in page.tags %}
           <a href="/tag.html#{{tag}}" class="tag">{{tag}} <span class="tagcount">{{site.tags[tag] | size}}</span></a>
       {% endfor %}
    </div>
    <div class="datetime">
        <span>{{ page.date | date:"%Y-%m-%d"}}</span>
    </div>
</div>

<div class="related-post">
    <h2>相关文章</h2>
    {% for post in site.related_posts limit:5 %}
        <div class="article">
            <span class="datetime">{{ post.date | date:"%Y-%m-%d"}}</span>
            <a class="title" href="{{ post.url }}">{{ post.title }}</a>
        </div>
    {% endfor %}
</div>

<div class="post-history">
    <h2>文章修改纪录</h2>
    <div id="history">加载中...</div>
</div>

<!--动态载入jquery, md5, 然后渲染log-->
<script type="text/javascript">
    //获取脚本函数
    function loadJs(src, callback){
        var doc = document;
        var head = doc.getElementsByTagName('head')[0];
        var script = doc.createElement('script');
        var re = /^(?:loaded|complete|undefined)$/;

        script.onreadystatechange = script.onload = script.onerror = function() {
            if (re.test(script.readyState)) {
                callback();
                script.onload = script.onerror = script.onreadystatechange = null;
                script = null;
            }
        }

        script.src = src;
        script.async = true;

        head.insertBefore(script, head.firstChild);
    }

    loadJs('/js/jquery-1.7.2.min.js', function(){
        loadJs('/js/md5.min.js', function(){
            //取到文章的路径，追加到请求地址上
            var articlePath =location.href.match(/[^\/]\/([^\/].*?)$/)[1].replace(/\//g, '-').replace(/html$/,'md');
            var api = 'https://api.github.com/repos/jserme/jserme.github.io/commits?path=_posts%2F';
            var tmpl = '<div class="article"> <span class="datetime">{date}</span> <span><image src="{src}" title="{author}">{message}</span></div>'
            var gravstarurl = 'https://1.gravatar.com/avatar/{md5hash}?s=16'; 
            $.getJSON(api + articlePath,function(data){
                if( data.length == 0 ){
                    $('#history').html('暂无历史纪录 :)');
                    return false;
                }

                var history = '';
                $.each(data, function(i, v){
                    var avatar = gravstarurl.replace('{md5hash}', md5(v.commit.author.email));
                    history += tmpl.replace('{src}', avatar)
                                   .replace('{date}', v.commit.author.date.replace(/T.*Z/,''))
                                   .replace('{message}', v.commit.message);
                    });

                $('#history').html(history);
            })
        });
    });
</script>

<!-- Duoshuo Comment BEGIN -->
<div id="comment" class="ds-thread" data-title={{page.title}} data-url="{{page.url}}"></div>
<!-- Duoshuo Comment END -->
